{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": false,
        }
      }
    ]
  ],
  "plugins": [
    // "add-module-exports",
    "@babel/plugin-proposal-class-properties",
  ]
}
