.wplf-tabs {
  &__tab {
    display: none;

    &.active {
      display: block;
    }
  }

  header {
    border-bottom: 1px solid #ccd0d4;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    text-align: center;

    @media (max-width: 480px) {
      flex-flow: column wrap;
    }
  }

  &__tabSwitcher {
    appearance: none;
    background: transparent;
    padding:  0.5rem 2rem;
    border: 0;
    cursor: pointer;
    font-weight: 700;
    color: inherit;

    &:after {

    }

    &:hover, &.active, &:focus {
      opacity: 0.7;
      background: whiteSmoke;
    }
  }
}