@import 'core';

.post-type-libreform {
  #wp-content-wrap {
    display: none;
  }

  #post-status-info {
    border-bottom: 0;
  }

  #titlediv .inside {
    margin-bottom: 0.5rem;
  }
}

.libreform_page_wplfAddons {
  #wpcontent {
    padding-left: 0;
  }
}

.wplf-formRow {
  // Unset max-width for admin
  @media (min-width: 600px) {
    max-width: 100%;
  }
}

.wplf-formFields {
  &__field {
    background: #f5f5f5;
    border: 0;
    border-bottom: 1px solid #ccd0d4;
    padding: 0.5rem 1rem;
    position: relative;

    &:last-child {
      border-bottom: 0;
    }

    strong {
      display: block;
    }

    &__type {
      font-size: 0.75em;
    }

    &__alert {
      position: absolute;
      right: 1rem;
      top: 25px;
      background: red;
      color: white;
      padding: 0.25rem;
      font-size: 1.25rem;
      border-radius: 100%;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      line-height: 20px;
      text-align: center;
      font-weight: 700;
    }
  }
}

#wplfFieldsMetabox .inside {
  padding: 0;
  margin: 0;
}

.wplf-editor {
  .CodeMirror,
  .wplf-cmEditor {
    height: 70vh;
    width: calc(100% - 2px);
    margin-bottom: 1rem;
    border: 1px solid #ccd0d4;
    border-top: 0;
    overflow: hidden;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  }

  @import 'codemirror';
}

// Overrides for admin usage
.wplf-tabs {
  background: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.04);
  border: 1px solid #ccd0d4;

  h2,
  h3,
  h4 {
    // WP PLS.
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  section {
    padding: 12px 12px 12px; // mimic #poststuff .inside
  }

  code {
    display: block;
    padding: 12px;
    white-space: pre;
    margin: 1rem 0;
  }

  .wplf-selectors {
    padding: 0;

    p,
    h2,
    h3,
    h4 {
      margin: 1rem 12px;
    }

    &__info {
    }

    &__list {
    }

    &__selector {
      padding-top: 1rem;
      border-bottom: 1px solid #000;

      &__name,
      &__description,
      &__usage {
        margin: 1rem 12px;
      }

      &__example {
        margin: 0;
      }

      &:first-child {
        border-top: 1px solid #000;
      }

      &:last-child {
        border-bottom: none;
      }
    }
  }

  .wplf-settings {
    padding: 0;

    .wplf-formSettings {
      border: 0;

      .CodeMirror,
      .wplf-cmEditor {
        height: 300px;
        width: 100%;
      }

      .wplf-tabs__tabSwitcher {
        // width: 100%;
        flex: 1 1 auto;
        background: #32373c;
        color: #f1f1f1;

        &.active,
        &:focus,
        &:hover {
          background: #0073aa;
        }
      }
    }
  }
}
