.wplf-plugins {
  box-sizing: border-box;
}

.wplf-plugins *, .wplf-plugins *:before, .wplf-plugins *:after {
  box-sizing: border-box;
}

.wplf-plugins-page {
  display: none;
  overflow: hidden;
}

.wplf-plugins-page[data-page="General"] {
  display: block;
}


.wplf-plugin-list {
  overflow: hidden;
}

.wplf-plugin-box {
  padding: 1rem;
  border: 1px solid #222;
  width: 48%;
  margin-right: 2%;
  float: left;
  background: #fff;
}

.wplf-plugin-box__meta {
  overflow: hidden;
  line-height: 30px; /* Poor man centering */
}

.wplf-plugin-box__meta--version {
  color: #ccc;
}

.wplf-plugin-box__meta--link {
  float: right;
}

@media (max-width: 768px) {
  .wplf-plugin-box {
    width: 100%;
    margin-right: 0;
    margin-bottom: 1rem;
  }
}
