/**
 * wp-libre-form admin styles
 */

.wplf-template-override-notice {
    line-height: 20px;
    padding: 1ex 0;
    margin-top: 1em;
    color: #666;
    font-style: italic;
}

.wplf-dynamic-values-help {
  display: none;
  margin-top: 1rem;
}

.wplf-dynamic-values-help .description {
  margin-bottom: 2rem;
}
